@import './reset.scss';
@import './variables/global.scss';
@import './theme/normal.scss';
@import './theme/dark.scss';

.app {
    font-size: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);

    height: 100vh;
}